@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
.body-home, .body-login {
	background: url(../img/backgroundLofi.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;
}
.black-fill {
	background: rgba(51, 50, 50, 0.7);
	min-height: 100vh;
}
#homeNav {
	background: rgba(255,255,255, 0.5) !important;
}
.welcome-text {
	min-height: 80vh;
}
.welcome-text img {
	width: 100px;
}
.welcome-text h4  {
	color: #eee;
	font-size: 51px;
	font-family: 'Lobster', cursive;

}
.welcome-text p {
	color: #222;
	background: rgba(255,255,255, 0.5);
	padding: 5px;
	border-radius: 4px;
}
#about {
	min-height: 100vh;
}
#about .card-1{
	max-width: 600px;
	width: 90%;
	background: rgba(255,255,255, 0.5);
	padding: 20px;
	border-radius: 5px;
}
#about .card-1 h5{
	font-family: 'Lobster', cursive;
	font-size: 28px;
}

/*------------------------------------------ Login User ------------------------------------- */
.login {
	max-width: 500px;
	width: 90%;
	background: rgba(255,255,255, 0.5);
	padding: 10px;
	border-radius: 10px;
}
.login h3{
	text-align: center;
	font-size: 50px;
}


/*------------------------------------------ User List Logo------------------------------------- */
.user-text {
	min-height: 15vh;
}
.user-text img {
	width: 100px;
}
.user-text h4 {
	color: #eee;
	font-size: 51px;
	font-family: 'Lobster', cursive;

}
.user-text p {
	color: #222;
	background: rgba(255,255,255, 0.5);
	padding: 5px;
	border-radius: 4px;
}

/*------------------------------------------ User List ------------------------------------- */
#listUser{
	min-height: 30vh;
}
#listUser .card-1{
	max-width: 800px;
	width: 90%;
	background: rgba(255,255,255, 0.5);
	padding: 20px;
	border-radius: 5px;
}
#listUser .card-1 h5{
	font-family: 'Lobster', cursive;
	font-size: 28px;
}


/*------------------------------------------ scrollbar detay  (saydam) ------------------------------------- */
.table-wrap {
    max-height: 300px; 
    overflow: auto; 
}

.table-wrap::-webkit-scrollbar {
    width: 12px; 
}

.table-wrap::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, 0.3); 
    border-radius: 10px;
}

.table-wrap::-webkit-scrollbar-thumb:hover {
    background-color: rgba(0, 0, 0, 0.5); 
}

.table-wrap::-webkit-scrollbar-track {
    background: transparent; 
}


/*------------------------------------------ students list h3 ------------------------------------- */

.h3-new {
	color: #eee ;
	font-size: 51px;
	font-family: 'Lobster', cursive;

}